*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #414141;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    border-radius: 112px;
}

.main > h1{
    color: white;
}

.score-div{
    border: 1px solid #414141;
    text-align: center;
    padding: 15px;
    border-radius: 12px;
    background-color: white;
    font-size: large;
    margin: 0 5px;
    color: #414141;
}

.scoreboard{
    color: white;
    font-weight: bold;
    border-radius: 12px;
    font-family: math;
    background-color: white;
}

#playground{
    cursor: crosshair;
    height: 90vh;
}