*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.heading{
    padding: 1rem;
    text-align: center;
    font-size: 1em;
    box-shadow:3px 3px 5px #414141;
    margin-bottom: 4px;
    background-color: #474444;
}
kbd{
    box-shadow: 2px 2px 4px silver;
    background-color: white;
    border-radius: 3px;
    padding: 12px;
    width: 50px;
    height: 20px;
    margin:0 12px;
}

#block{
    height: 45px;
    width: 150px;
    border: 1px solid yellow;
    background-color: yellow;
    border-radius: 10px;
}