.color-box-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}
.color-box{
    height: 200px;
    width: 150px;
    margin: 10px;
    border-radius: 7px;
    transition: background-color 1s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 13px;
}



/* MEDIA QUERIES */

@media  screen and (max-width: 768px) {


    .title-div{
        text-align: center;
        flex-direction: column;
    }

    .color-box-div{
        flex-direction: column;
        align-items: center;
    }

    .color-box{
        width: 200px;
    }

    header{
        padding: 1rem;
        margin-top: 10px;
        width: 100vw;
        flex-direction: column;
        transform: translateY(-10px);
    }

    .logo{
        display: flex;
        justify-content: space-between;
    }

    .heading{
        display: block;
        font-size: large;
        scale: 3.1;
    }    

    nav{
        display: none;
        text-align: center;
        padding: 7px;
        transform: translateY(-10px);
    }

    nav li{
        margin: 0.6rem 0;
    }

    #shuffleColors{
        margin-top: 10px;
    }
}