*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive sans-serif;
    text-decoration: none;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #414141;
    padding: 13px;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav li a{
    margin:0 1.5rem;
}

.intro-section{
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.title-div{
    padding: 8px;
}
.color-box-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.color-box{
    border: 1px solid red;
    height: 200px;
    width: 150px;
    margin: 10px;
    border-radius: 7px;
}