*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: cursive sans-serif;
    text-decoration: none;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #414141;
    padding: 13px;
}

.heading{
    display: none;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav li a{
    margin:0 1.5rem;
}

.intro-section{
    text-align: center;
    padding: 10px;
    margin: 10px 0;
}

.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.title-div{
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#shuffleColors{
    padding: 9px;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: blue;
    cursor: pointer;
    width: 100px;
    height: 34px;
}

.color-box-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.color-box{
    height: 200px;
    width: 150px;
    margin: 10px;
    border-radius: 7px;
    transition: background-color 1s;
}

footer{
    text-align: center;
    border-top: 1px solid #414141;
    padding: 13px;
}

.hambg-effect{
    flex-direction: column;
    text-align: center;
    display: block;
}
.active{
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.7s ease-out;
}

.transition-smooth{
    transition: all 0.3s ease-in-out;
}



/* MEDIA QUERIES */

@media  screen and (max-width: 768px) {


    .title-div{
        text-align: center;
        flex-direction: column;
    }

    .color-box-div{
        flex-direction: column;
        align-items: center;
    }

    .color-box{
        width: 200px;
    }

    header{
        width: 100vw;
        flex-direction: column;
        transform: translateY(-10px);
    }

    .logo{
        display: flex;
        justify-content: space-between;
    }

    .heading{
        display: block;
        font-size: large;
        scale: 3.1;
    }    

    nav{
        display: none;
        text-align: center;
        padding: 7px;
        transform: translateY(-10px);
    }

    nav li{
        margin: 0.6rem 0;
    }
}