*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #414141;
    color: whitesmoke;
}
header{
    padding: 1rem;
}
main, .content, .displayOutput{
    display: flex;
    flex-direction: column;
}

.content{
    margin: 2.5rem;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 10px;
    border: 3px solid red;
    border-radius:8px;
    margin-bottom: 0;
}

input, select{
    margin: 1rem;
    width: 250px;
    height: 45px;
    border-radius: 4px;
    border: none;
    padding: 14px;
    background-color: white;
    color: black;
}

input:focus, select:focus{
    outline: none;
    border: 2px solid #414141;
    box-shadow: 0 0 8px #776e6e;
}
input:not(:focus), select:not():focus{
    outline: none;
    border: 2px solid #2e2d2d;
    box-shadow: 0 0 8px #776e6e;
}

#calculateButton{
    width: 100px;
    height: 40px;
    border-radius: 9px;
    border: none;
    background-color: blue;
    cursor: pointer;
    margin: 7px 0;

}

#calculateButton:hover{
    box-shadow: 0 0 8px #776e6e;
}

.displayOutput{
    margin: 0 2.5rem;
    justify-content: center;
    align-items: center;
    height: 16vh;
    padding: 10px;
    border: 3px solid red;
    border-radius:8px;
    line-height: 3px;
    border-top: none;
}

@media screen and (max-width: 768px) {
    .displayOutput{
        line-height: 25px;
    }
}