*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

header{
    text-align: center;
    border-bottom: 1px solid black;
    padding: 10px;
}
footer{
    text-align: center;
    border-top: 1px solid black;
}
.refresh-sectionn{
    text-align: center;
    padding: 9px;
}

#refresh-btn{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
}

main{
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.picture-box{
    border: 1px solid black;
    border-radius: 7px;
    height: 140px;
    width: 170px;
    margin: 2px 7px;
    display: flex;
    gap: 30px;
}


@media screen and (max-width: 768px) {
    .picture-box{
        width: 230px;
        height: 200px;
        margin-bottom: 7px;
    }
}