*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
canvas{
    height: 770px;
    width: 1530px;
    border: 5px solid black;
}

#bird{
    position: absolute;
    top: 20px;
    width: 150px;
}