*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.Scorediv{
    padding: 10px;
    text-align: center;
    color: white;
}
canvas{
    height: 740px;
    width: 1530px;
    border: 5px solid black;
    /* margin-top: 35px; */
    margin-left: 2px;
}

#bird{
    position: absolute;
    top: 20px;
    width: 150px;
}