*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
canvas{
    height: 600px;
    width: 1400px;
    border: 2px solid black;
}

#bird{
    position: absolute;
    top: 20px;
    width: 150px;
}