body,html{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

nav{
    background-color: black;
    color: white;
    height: 100%;
    width: 0;
    opacity: 0;
    position: absolute;
    top: 0;
}

nav span{
    display: flex;
    justify-content: end;
    padding: 10px;
}

ul{
    list-style-type: none;
}

li{
    padding: 9px;
    font-size: 20px;
}

li:hover{
    background-image: linear-gradient(-295deg, #20E2D7 0%, #F9FEA5 70%);
    color: grey;
    cursor: pointer;
}
span{
    cursor: pointer;
    font-size: 40px;
    padding: 10px;
}
header{
    display: flex;
    justify-content: center;
}
#show:hover{
    background-color: black;
    color: #d9e3e8;
    border-bottom-right-radius: 9px;
}